<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.practice.CustomerManagementSystem.mapper.CustomerMapper">
	
	<!-- マッピング定義（顧客） -->
	<resultMap id="customerResultMap" type="com.practice.CustomerManagementSystem.entity.Customer">
	    <id property="customerId" column="customer_id" />
	    <result property="customerName" column="customer_name" />
	    <result property="individual" column="individual" />
	    <result property="birth" column="birth" />
	    <result property="zip" column="zip" />
	    <result property="address" column="address" />
	    <result property="tel" column="tel" />
	    <result property="mail" column="mail" />
	    <result property="isDeleted" column="isdeleted" />
	    <association property="account" resultMap="accountResultMap" />
	</resultMap>
	
	<!-- マッピング定義（担当者） -->
	<resultMap id="accountResultMap" type="com.practice.CustomerManagementSystem.entity.Account">
	    <id property="id" column="id" />
	    <result property="username" column="username" />
	</resultMap>

	<!-- 全件取得 -->
	<select id="getAll" resultMap="customerResultMap">
	<!-- created_atとか変数にないけど、*で全部列取得してもエラーにならない。 -->
		SELECT
		   customer_id,
		   customer_name,
		   individual,
		   birth,
		   zip,
		   address,
		   tel,
		   mail,
		   users.id,
		   username,
		   isdeleted
		FROM
		    customers
		LEFT JOIN
		    users
		ON
		    customers.account_id = users.id
		ORDER BY customer_id
	</select>
	
	<!-- キーワード検索で一致する顧客を取得 -->
	<select id="findByKeyword" parameterType="string" resultMap="customerResultMap">
	    SELECT
	       customer_id,
		   customer_name,
		   individual,
		   birth,
		   zip,
		   address,
		   tel,
		   mail,
		   account_id,
		   username,
		   isdeleted
	    FROM
		   customers
		 LEFT JOIN
		    users
		ON
		   customers.customer_id = users.id
		WHERE
		   customer_id LIKE '%${keyword}%'
		   OR
		       customer_name LIKE '%${keyword}%'
		   OR
		       individual LIKE '%${keyword}%'
		   OR
		       birth LIKE '%${keyword}%'
		   OR
		       zip LIKE '%${keyword}%'
		   OR
		       address LIKE '%${keyword}%'
		   OR
		       tel LIKE '%${keyword}%'
		   OR
		       mail LIKE '%${keyword}%'
		   OR
		       username LIKE '%${keyword}%'
	
	</select>
	
	<!-- 新規登録 -->
	<insert id="create" parameterType="com.practice.CustomerManagementSystem.entity.Customer">
	<!-- デフォルト値設定していれば、defaultで値を入れてくれる。ID(auto_increment)もいける。 -->
	    INSERT INTO
	        customers
	    VALUES(
	        default,
	        #{customerName},
	        #{individual},
	        #{birth},
	        #{zip},
	        #{address},
	        #{tel},
	        #{mail},
	        #{accountId},
	        default,
	        default,
	        default
	    )
	</insert>
	
	<!-- IDに一致する1件を取得 -->
	<select id="findByCustomerId" parameterType="Long">
	    SELECT
	        customer_id,
		    customer_name,
		    individual,
		    birth,
		    zip,
		    address,
		    tel,
		    mail,
		    account_id,
		    isdeleted
	    FROM
	        customers
	    WHERE
	        customer_id = #{id}
	</select>
	
	<!-- 編集内容を登録 -->
	<update id="update">
	    UPDATE
	        customers
	    SET
	        customer_name = #{customerName},
	        individual = #{individual},
	        birth = #{birth},
	        zip = #{zip},
	        address = #{address},
	        tel = #{tel},
	        mail = #{mail},
	        account_id = #{accountId},
	    WHERE
	        customer_id = #{customerId}
	
	</update>
	
	<!-- 論理削除 -->
	<delete id="delete" parameterType="Long">
	    UPDATE
	        customers
	    SET
	       isdeleted = 1
	    WHERE
	        customer_id = #{customerId} 
	</delete>
	
	
	
</mapper>