<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.practice.CustomerManagementSystem.mapper.UserMapper">

	<resultMap id="account" type="com.practice.CustomerManagementSystem.entity.Account">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="role" column="ROLE" />
	</resultMap>



	<!-- 1件取得 -->
	<select id="findByName" parameterType="string" resultMap="account">
		SELECT
		    *
		FROM
		    users
		WHERE
		    username=#{username}
	</select>
	
	<!-- 全件取得 -->
	<select id="findAll" resultMap="account">
	    SELECT
	        id,
	        username
	    FROM
	        users
	</select>
</mapper>