<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--共通headerで置き換える-->

<head th:replace="~{parts/parts :: meta_header('top',~{::link},~{::script})}">
	<link rel="stylesheet" th:href="@{../../css/common-table.css}">
	<title></title>
</head>

<body>
	<!--共通化したfragmentを呼び出す-->
	<div th:replace="parts/parts::nav">
	</div>
	<div th:text="'ようこそ '+ ${user.getUsername} + ' さん'"></div>

	<main>
		<h3>顧客一覧</h3>
		<div class="row">
			<a th:href="@{customer/create}">新規登録</a>
			<!-- inputのname属性…コントローラーの@RequestParam("searchByKeyword")と紐づけ-->
			<form th:action="@{/top/search}" method="get" class="search-form">
				<input type="text" name="searchByKeyword" placeholder="検索キーワードを入力してください">
				<button type="submit"></button>
			</form>
		</div>

		<table>
			<tr>
				<th>ID</th>
				<th>名前</th>
				<th>区分</th>
				<th>担当</th>
				<th>操作</th>
			</tr>
			<tr th:each="customer:${customers}" class="table-line" th:if="${customer.isDeleted == false}">
				<td th:text="${customer.customerId}"></td>
				<td th:text="${customer.customerName}"></td>
				<!-- trueなら個人、falseなら法人と表示する -->
				<td th:if="${customer.individual}">個人</td>
				<td th:if="${!customer.individual}">法人</td>
				<td th:text="${customer.account.username}"></td>
				<td>
					<div class="row">
						<form th:action="@{/case/case_index}" method="GET">
						<button type="submit" class="submit-button" 
						     name="customerId" th:value="${customer.customerId}">ケース</button>
						</form>

						<form th:action="@{customer/update}" method="GET">
							<button type="submit" class="submit-button"
							      name="customerId" th:value="${customer.customerId}">変更</button>
						</form>

						<form th:action="@{customer/delete/{id}(id=${customer.customerId})}" method="GET">
							<button type="submit" name="delete" th:value="${customer.customerId}"
								class="submit-button">削除</button>
						</form>


					</div>
				</td>
			</tr>
		</table>
	</main>
</body>

</html>