<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- (1)共通にしたいheadにfragmen属性を付与。引数を取れるのでtitle,links,scriptsを渡す。-->

<head th:fragment="meta_header(title,links,scripts)">
	<meta charset="UTF-8">
	<!-- （2）共通で読み込むJS・CSS -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<link rel="stylesheet" th:href="@{../css/button.css}">
	<link rel="stylesheet" th:href="@{../css/common/common.css}">
	<!-- (3)各ページのタイトルのフォーマット指定ができる-->
	<title th:text="${title}+' | 顧客管理システム'"></title>
	<!-- (4)各View固有で読み込むものがあれば指定もできる-->
	<th:block th:replace="${links} ?: _">
</head>

<!-- (5)body内でも共通化したいものがあればfragment化できる-->

<body>

	<nav　th:fragment="nav">
		<!-- ナビゲーション、目次、索引など -->
		<nav th:fragment="header">
			<div class="header">
				<div class="header-inner">
					<ul class="nav-group">
						<li class="nav-item">
							<a  aria-current="page" th:href="@{/top}">TOP</a>
						</li>
						<!--/* 管理者ロールだったら表示 */-->
						<li class="nav-item" sec:authorize="hasRole('ADMIN')">
							<a aria-current="page" th:href="@{/admin}">管理者ページ</a>
						</li>
						<!--/* ユーザロールだったら表示 */-->
						<li class="nav-item" sec:authorize="hasRole('USER')">
							<a aria-current="page" th:href="@{/user}">ユーザページ</a>
						</li>
						<li class="nav-item">
							<form class="d-flex" method="post" th:action="@{/logout}">
								
								<button class="logout" type="submit">ログアウト</button>
							
							</form>
								</li>
					</ul>
				</div>
			</div>
		</nav>

</body>

</html>