
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<!-- (1)共通にしたいheadにfragmen属性を付与。引数を取れるのでtitle,links,scriptsを渡す。-->
<head th:fragment="meta_header(title,links,scripts)">
	<meta charset="UTF-8">
	<!-- （2）共通で読み込むJS・CSS -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<!-- (3)各ページのタイトルのフォーマット指定ができる-->
	<title th:text="${title}+' | 顧客管理システム'"></title>
	<!-- (4)各View固有で読み込むものがあれば指定もできる-->
</head>

<!-- (5)body内でも共通化したいものがあればfragment化できる-->
<body>
	
	<nav　th:fragment="nav">
	<!-- ナビゲーション、目次、索引など -->
	 <nav class="navbar navbar-expand-sm navbar-light bg-light" th:fragment="header">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active"
                        aria-current="page" th:href="@{/common}">共通ページ</a></li>
                    <!--/* 管理者ロールだったら表示 */-->
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a
                        class="nav-link active" aria-current="page" th:href="@{/admin}">管理者ページ</a></li>
                    <!--/* ユーザロールだったら表示 */-->
                    <li class="nav-item" sec:authorize="hasRole('USER')"><a
                        class="nav-link active" aria-current="page" th:href="@{/user}">ユーザページ</a></li>
                </ul>
                <form class="d-flex" method="post" th:action="@{/logout}">
                    <button class="btn btn-outline-success" type="submit">ログアウト</button>
                </form>
            </div>
        </div>
      </nav>

</body>
</html>
