<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<!--共通headerで置き換える-->
<head th:replace="~{parts/parts :: meta_header('top',~{::link},~{::script})}">
	<title></title>
</head>
<body>
    <div class="text-center">
        <h1>Login</h1>
        <form method="post" th:action="@{/login/index}">
            <!--/* 認証エラー時に発生したオブジェクトはSPRING_…で保持される */-->
            <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
                th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                ログインエラーメッセージ</p>
            <label>ユーザーID</label> <input type="text" name="username" /><br /> <br />
            <label>パスワード</label> <input type="password" name="password" /><br />
            <br />
            <button class="btn btn-primary" type="submit">ログイン</button>
        </form>
    </div>
 
</body>
</html>